.animated-gradient {
  background: linear-gradient(
    90deg,
    #00b4d8,
    #ade8f4,
    #90e0ef,
    #48cae4,
    #33aaff
   
  );
  background-size: 300% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: lightSweep 6s linear infinite;
}

@keyframes lightSweep {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
