@import "tailwindcss";

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-medium {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-fast {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}

.animate-bounce-medium {
  animation: bounce-medium 1.2s infinite;
}

.animate-bounce-fast {
  animation: bounce-fast 1s infinite;
}

@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Regular.ttf)format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Bold.ttf)format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src: url(./assets/fonts/Lato-Black.ttf)format('truetype');
}
body{
  font-family: 'Lato';
}

@theme {
  --color-primary:#001864;
  --color-secondary: #F2F2F2;
  --color-accent: #FF7F50;
  --font-Hanken:"Lato", sans-serif;
  --color-one:#6eeba1;
  --color-two:#cbbdf8;
  --color-three:#fed756;
  --color-four:#638bc8;

}


