@import "tailwindcss";

@theme {
  --color-primary:#001864;
  --color-secondary: #F2F2F2;
  --color-accent: #FF7F50;
  --font-Hanken:"Hanken Grotesk", sans-serif;
  --color-one:#6eeba1;
  --color-two:#cbbdf8;
  --color-three:#fed756;
  --color-four:#638bc8;

}

